/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */


html, body{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.brand{
    font-size: 10vw;
    font-weight: bold;
	text-align: center;
}

#inputs{
	margin: 0px;
	padding-bottom: 2%;
	display: flex-wrap;
	flex-direction: row;
	justify-content: center;
}

#loc{
	margin: 3%;
	flex: 60%;
}

#dis{
	margin: 3%;
	flex: 20%;
}	
#search{
	margin: 3%;
	flex: 20%;
}

#map{
	margin: 0px;
	flex: 1;
	width: 100%;
}

#output{
	display: none;
}

footer{
	background-color: #333333;
	
}

.links{
	margin: auto;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.links li {
	float: left;
 
}

.links li a {
	color: white;
	text-align: center;
	padding: 35px;
	text-decoration: none;
}

.links li a:active {
	background-color: #111111;
}


