body{
    margin: 0;
    padding: 0;
    background-image: url("./background.jpg");
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

/* .ui-content{
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
} */

/*
general setting
*/
.brand h1{
    font-size: 10vw;
    font-weight: bold;
}

/**
home page styling
*/
#home {
    background: url("./background.jpg");
}
#home .ui-content{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow:hidden;
    height: 100%;
    
}
#home .ui-content .fader{
    flex:80%; 
    max-height:36em; 
}

#home .ui-content .fader img{
    border-radius: 25px;
    max-width: 100%; 
    max-height: 100%;
}

#home .ui-content #search-button{
    flex: 20%;
    margin-top: 1em; 
    margin-bottom: 1em;
    justify-content: center;

}

#home .ui-content #search-button a {
    outline: none;
    text-decoration: none;
}
#home .ui-content #search-button input{
    margin: 0 1em 0 1em;
    outline: none;
    height: 3em;
    width: 5em;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}
/**question about how to change color*/
#home .ui-content #search-button input:active{
    background-color: blue;
}
/**
search page
*/
#search {
    margin: 0;
    padding: 0;
}
#search .ui-content{
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#search .ui-content #backgroundimage {
    flex:40%;
}
#search .ui-content #backgroundimage img{
    border-radius: 25px;
}

#search .ui-content .ui-field-contain .controlgroup select:not(:-internal-list-box){
    overflow: none;
}

/*
* search result page setting up todo
*/


/*
* save page, how to scroll content ????
*/
#save {
    margin: 0;
    padding: 0;
}

#save .brand{
    margin: 0.67em 0 0 0;
}

#profile {
    margin: 0;
    padding: 0;
}

#profile .header{
    margin: 0.67em 0 0 0;
}
#profile .ui-content{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
#profile .ui-content a{
    margin: 1em;
}

